<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Coba</a>
        <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav m1-auto">
                <li class="nav-item">
                    <a href="/article" class="nav-link"> Home </a>
                </li>
                <li class="nav-item">
                    <a href="/article/new" class="nav-link"> New Article </a>
                </li>
                <li class="nav-item">
                    <a href="/todo" class="nav-link"> Todo </a>
                </li>
                <li class="nav-item">
                    <a href="/file" class="nav-link"> File </a>
                </li>
                <li class="nav-item">
                    <a href="/person" class="nav-link"> Person </a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link"> Login </a>
                </li>
            </ul>
        </div>
    </div>
</nav>